<div class="d-flex w-100 justify-content-center">
    <div class="onClickstyle flex-shrink-1" [routerLink]="['/usuario/servicios']"><i class="fi fi-br-arrow-left"></i></div>
    <h1 class="cl-grn w-100 text-center" style="margin-bottom: 40px;">Asignaturas</h1>
</div>

<table class="mtable w-auto align-self-center border-radius">
    <thead>
        <tr class="bgcl-grn">
            <th class="ft-400 cl-wh fs-ms w-auto">Código</th>
            <th class="ft-400 cl-wh fs-ms w-auto">Nombre</th>
            <th class="ft-400 cl-wh fs-ms w-auto">Horas teóricas</th>
            <th class="ft-400 cl-wh fs-ms w-auto">Horas prácticas</th>
            <th class="ft-400 cl-wh fs-ms w-10" colspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td class="ft-300 fs-ms">{{ item.codigo }}</td>
            <td class="ft-300 fs-ms">{{ item.nombre }}</td>
            <td class="ft-300 fs-ms">{{ item.horasTeoria }}</td>
            <td class="ft-300 fs-ms">{{ item.horasPractica }}</td>
            <td class="ft-300 fs-ms">
                <i class="fi fi-br-edit cl-lbl onClickstyle"></i>
            </td>
            <td class="ft-300 fs-ms">
                <i class="fi fi-br-trash cl-rd onClickstyle"></i>
            </td>
        </tr>
    </tbody>
</table>


  
<button class="btn btn-mstyle d-flex align-items-center justify-content-center position-fixed" style="width: 80px; height: 80px; font-size: 45px; right: 60px; bottom: 60px; border-radius: 25px;">+</button>