<div class="header bg-cl-dkblue">
    <div class="mcontent w-100">
        <a href="http://cormoran.uis.edu.co/eisi/" target="_blank">
            <img src="images/logoEscuela.png" alt="Escuela de ingeniria de sistemas" width="90px">
        </a>
        <h1 class="title cl-white ft-400">Escuela de <br> <span class="title-h ft-500">Ingeniería de Sistemas e Informática</span></h1>
        <a href="http://cormoran.uis.edu.co/eisi/" target="_blank">
            <img src="images/LOGO UIS_PNG.png" alt="Universidad Industrial de Santander" width="200px">
        </a>
    </div>
</div>
