.header{
    width: 100%;
    height: auto;
    z-index: 1;
    padding: 20px 0px;
}

.mcontent{
    display: flex;    
    justify-content: space-around;
    align-items: center;
}

.title{
    font-size: 1.8rem;
}

.title-h{
    font-size: 2.5rem;
}
