
<table class="">
    <thead>
        <tr class="bg-cl-green">
            <th class="ft-400">Codigo</th>
            <th class="ft-400">Asignatura</th>
            <th class="ft-400">Grupo</th>
            <th class="ft-400">Aula</th>
            <th class="ft-400">Docente</th>
            <th class="ft-400">Correo</th>
            <th class="ft-400">Día</th>
            <th class="ft-400">Hora</th>
            <th class="ft-400" colspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="ft-300">l</th>
            <th class="ft-300">a</th>
            <th class="ft-300">ss</th>
            <th class="ft-300">d</th>
            <th class="ft-300">h</th>
            <th class="ft-300">j</th>
            <th class="ft-300">k</th>
            <th class="ft-300">;</th>
            <th><i class="fi fi-br-edit"></i></th>
            <th><i class="fi fi-br-trash"></i></th>
        </tr>
    </tbody>
</table>