<div class="d-flex justify-content-between p-3 px-4">
    <h2 class="ft-cl-bl">Administrador</h2>
    <button class="btn h-50 btn-mdg d-flex justify-content-center align-items-center" [routerLink]="['/login']"><i class="fi fi-br-power"></i> </button>
</div>
<div class="card-body d-flex justify-content-center flex-column">
    <button class="btn btn-mgr w-50 align-self-center" [routerLink]="['/usuario/horario']">Horarios</button>
    <button class="btn btn-mgr w-50 align-self-center" [routerLink]="['/usuario/asignaturas']">Asignaturas</button>
    <button class="btn btn-mgr w-50 align-self-center" [routerLink]="['/usuario/grupos']">Grupos</button>
    <button class="btn btn-mgr w-50 align-self-center" [routerLink]="['/usuario/profesores']">Profesores</button>
    <button class="btn btn-mgr w-50 align-self-center" [routerLink]="['/usuario/aulas']">Aulas</button>
    <button class="btn btn-mgr w-50 align-self-center" [routerLink]="['/usuario/edificios']">Edificios</button>
    <button class="btn btn-mgr w-50 align-self-center" [routerLink]="['/usuario/reportes']">Reportes</button>
    <button class="btn btn-mgr w-50 align-self-center" [routerLink]="['/usuario/gestion+de+usuarios']">Gestion de Usuarios</button>
</div>
