<div class="d-flex w-100 justify-content-center">
    <div class="onClickstyle flex-shrink-1" [routerLink]="['/usuario/servicios']"><i class="fi fi-br-arrow-left"></i></div>
    <h1 class="cl-grn w-100 text-center" style="margin-bottom: 40px;">Horarios</h1>
</div>

<table class="mtable w-100 align-self-center border-radius">
    <thead>
        <tr class="bgcl-grn text-center">
            <th class="ft-400 cl-wh fs-ms">Fecha</th>
            <th class="px-5 ft-400 cl-wh fs-ms">Hora</th>
            <th class="ft-400 cl-wh fs-ms">Tipo</th>
            <th class="ft-400 cl-wh fs-ms">Observaciones</th>
            <th class="ft-400 cl-wh fs-ms w-10" colspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="ft-300 fs-ms">04/05/2024</th>
            <th class="ft-300 fs-ms">10:30 A.m</th>
            <th class="ft-300 fs-ms">Horario</th>
            <th class="ft-300 fs-ms">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ea at eligendi pariatur quas quidem perspiciatis a labore, molestias, error perferendis, odit in et sunt incidunt deserunt. Dolorem, beatae vero?</th>
            <th><i class="fi fi-br-edit cl-lbl onClickstyle"></i></th>
            <th><i class="fi fi-br-trash cl-rd onClickstyle"></i></th>
        </tr>
    </tbody>
</table>

<button class="btn btn-mstyle d-flex align-items-center justify-content-center position-fixed" style="width: 80px; height: 80px; font-size: 45px; right: 60px; bottom: 60px; border-radius: 25px;">+</button> 