<div class="mcontainer">
    <div class="content">
        <div class="content-body">
            <div class="logout-container">
                <h2 class="title ft-600 ft-cl-dkblue">Administrador</h2>
                <button class="btn btn-mdg" (click)="onLogout()"><i class="fi fi-br-power"></i> </button>
            </div>
            <div class="d-flex w-100 flex-column mt-4">
                <button class="btn btn-mgr w-50 align-self-center ft-500" [routerLink]="['/usuario/horario']">Horarios</button>
                <button class="btn btn-mgr w-50 align-self-center ft-500" [routerLink]="['/usuario/asignaturas']">Asignaturas</button>
                <button class="btn btn-mgr w-50 align-self-center ft-500" [routerLink]="['/usuario/grupos']">Grupos</button>
                <button class="btn btn-mgr w-50 align-self-center ft-500" [routerLink]="['/usuario/aulas']">Aulas</button>
                <button class="btn btn-mgr w-50 align-self-center ft-500" [routerLink]="['/usuario/edificios']">Edificios</button>
                <button class="btn btn-mgr w-50 align-self-center ft-500" [routerLink]="['/usuario/profesores']">Profesores</button>
                <button class="btn btn-mgr w-50 align-self-center ft-500" [routerLink]="['/usuario/usuarios']">Usuarios</button>
            </div>
        </div>
    </div>
</div>

