.mcontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 86vh;
    background-color: #f1f1ff;
    background: radial-gradient(circle, #90bc3131 45%, transparent 25%) 0 0 / 7px 7px;
    
}

.mcontainer-side{
    width: 100%;
    display: flex;
    height: 86vh;
    background-color: #f1f1ff;
    background: radial-gradient(circle, #90bc3131 45%, transparent 25%) 0 0 / 7px 7px;
}

.content{
    width: 50%;
    display: flex;
    align-self: center;
    border-radius: 15px;
    background-color: #fefff6ad;
    border: 2px solid rgba(0, 0, 0, 0.12);
    padding: 35px 30px;
    margin-top: 100px;
}

.content-body{
    width: 100%;
    justify-content: center;
}

.btn{
    font-size: 20px;
}

.logout-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 40px 35px 40px;
}

.logout-container button{
    transform: scale(1.25);
}

.title{
    margin: 0px;
    font-size: 47px;
}

.fi-br-power{
    font-family: uicons-bold-rounded;
}