<div class="mcontainer">
    <div class="content">
        <div class="content-body">
            <div class="logout-container">
                <h2 class="title">Administrador</h2>
                <button class="btn btn-danger" [routerLink]="['/login']"><i class="fi fi-br-power"></i> </button>
            </div>
            <div class="d-flex w-100 flex-column">
                <button class="btn btn-mgr w-45 align-self-center" [routerLink]="['/usuario/horario']">Horarios</button>
                <button class="btn btn-mgr w-45 align-self-center" [routerLink]="['/usuario/asignaturas']">Asignaturas</button>
                <button class="btn btn-mgr w-45 align-self-center" [routerLink]="['/usuario/grupos']">Grupos</button>
                <button class="btn btn-mgr w-45 align-self-center" [routerLink]="['/usuario/aulas']">Aulas</button>
                <button class="btn btn-mgr w-45 align-self-center" [routerLink]="['/usuario/edificios']">Edificios</button>
                <button class="btn btn-mgr w-45 align-self-center" [routerLink]="['/usuario/profesores']">Profesores</button>
                <button class="btn btn-mgr w-45 align-self-center" [routerLink]="['/usuario/gestion-de-usuarios']">Gestion de usuarios</button>
                <button class="btn btn-mgr w-45 align-self-center" [routerLink]="['/usuario/reportes']">Reportes</button>
            </div>
        </div>
    </div>
</div>

