.mcontainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  background-color: #00000065;
}

.content{
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-content: center;
}

.content-body{
  margin: auto auto;
  width: 700px;
  padding: 20px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fafff4;
  border-radius: 20px;
}

.bt-position{
  display: flex;
  justify-content: end;
}

.drag-drop-content {
  width: 100%;
  background-color: #fafff4;
  max-width: 500px;
  margin: 0 auto;
  padding: 60px 20px;
  border: 2px dashed #161256;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.drag-drop-content:hover {
  background-color: #ffffff;
  border: 2px dashed #007bff;
  transition: 0.3s;
}

.dragging {
  background-color: #ffffff;
  border: 2px dashed #007bff;
  transition: 0.3s;
}
  
.file-info {
  margin-top: 15px;
}