<div class="mcontainer">
    <div class="content">
        <div class="content-body">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <h2 class="ft-600 tl-ft-s ft-cl-dkblue my-2">Inicio de <span class="ft-cl-green" style="font-size: 2.5rem;">Sesión</span></h2>

                <div class="data-grup my-4">
                    <input type="text" id="username" class="text" placeholder="" formControlName="username">
                    <label for="username" class="ft-500">Ingrese su usuario</label>
                </div>
    
                <div class="data-grup my-4">
                    <input type="password" id="userpassword" class="text" placeholder="" formControlName="password">
                    <label for="userpassword" class="ft-500">Ingrese su contraseña</label>
                </div>
    
                <div class="d-flex justify-content-center mt-3"><button type="submit" value="Enviar" class="btn my-btn">Ingresar</button></div>
            </form>
        </div>
    </div>
</div>

<div class="w-100 bg-img">
    <img src="images/FondoUIS.png">
</div>