<div class="container-fluid bgcl-bl">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-auto ">
        <a href="http://cormoran.uis.edu.co/eisi/" target="_blank"><img src="./assets/images/logoEscuela.png"  alt="Logo Escuela"></a>
      </div>
  
      <h1 class="col-md-auto m-h1 text-white ft-400"> <span class="txt-sm"> Escuela de  </span><br> Ingeniería de Sistemas e Informática</h1>
  
      <div class="col-md-auto ">
        <a class="col-sm-auto"  href="https://uis.edu.co/en/" target="_blank"><img src="./assets/images/LOGO UIS_PNG.png" style="width: 200px;" alt="Logo Escuela"></a>
      </div>
    </div>
  
</div>