@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

*{
    margin: 0;
    padding: 0;
    font-family: "Lexend", "Merriweather Sans", sans-serif;
    font-style: normal;
}

.bg-cl-dkblue{
    background-color: #161256;
}

.bg-cl-green{
    background-color: #91BC31;
}

.bg-cl-white{
    background-color: #F0F2EC;
}

.cl-white{
    color: rgb(225, 225, 225);
}

.ft-cl-green{
    color: #91BC31;
}

.ft-cl-blue{
    color: #161256;
}

.ft-cl-dkblue{
    color: #1B1B3B;
}

.ft-200{
    font-weight: 200;
}

.ft-300{
    font-weight: 300;
}

.ft-400{
    font-weight: 400;
}

.ft-500{
    font-weight: 500;
}

.ft-600{
    font-weight: 600;
}

.ft-700{
    font-weight: 700;
}

.btn-mstyle{
    background-color: #161256;
    color: #faf9ff;
    transition: 0.5s;
    padding-top: 5px;
}

.btn-mstyle:hover{
    background-color: #1414EB;
    color: #faf9ff;
    padding-bottom: 10px;
    transition: 0.6s;
    transform: scale(1.1);
}

.btn-mgr{
    margin: 2px 0px;
    background-color: #91BC31;
    color: #faf9ff;
    border-color: #faf9ff;
    border-width: 3px;
    transition: 0.6s;
}

.btn-mgr:hover{
    background-color: #677C30;
    color: #faf9ff;
    border-color: #91BC31;
    margin: 5px 0px;
    padding: 12px 0px;
    transform: scale(1.050);
    transition: .5s;
}

.btn-mdg{
    background-color: #DA261D;
    color: #faf9ff;
    padding: 10px 20px;
    transition: .6s;
}

.btn-mdg:hover{
    background-color: #ffe2e0;
    color: #DA261D;
    border-color: #DA261D;
    margin: 5px;
    padding: 15px 25px;
    transition: .5s;
}

.border-grn{
    border-color: #677C30;
}

.w-45{
    width: 45%;
}

.w-15{
    width: 15%;
}

.w-10{
    width: 10%;
}

.w-5{
    width: 5%;
}

.clickCl{
    cursor: pointer;
}

.text-cb{
    font-size: 19px;
}